{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
{% endblock %}

{% block heading %}
    <nav class="nav navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">StemmingSearch</a>
            </div>
            {#<div id="navbar" class="collapse navbar-collapse">#}
            {#<ul class="nav navbar-nav">#}
            {#<li class="active"><a href="#">Home</a></li>#}
            {#<li><a href="#about">About</a></li>#}
            {#<li><a href="#contact">Contact</a></li>#}
            {#</ul>#}
            {#</div><!--/.nav-collapse -->#}
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:30px;" id="main">
        <div class="jumbotron">
            <h2>Zoek naar moties en andere stemmingen:</h2>
            <div class="row">
                <form class="form search-form" method="post">
                    <div class="col-md-10">
                        <input name="query" type="text" class="form-control" placeholder="Vul hier uw termen in" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default">Zoeken <icon style="padding-left:5px;" class="glyphicon glyphicon-search"></icon></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block filter %}
{% endblock %}

{% block results %}
    {% if results is defined and results|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>Resultaten: {{ results|length }} van {{ total }}</strong>
                </div>
            </div>
            <ul class="list-group">
                {% for result in results %}

                    {% if result.result == 'Motie verworpen' %}
                        {% set labelclass = 'red' %}
                    {% endif %}
                    {% if result.result == 'Motie aangenomen' %}
                        {% set labelclass = 'green' %}
                    {% endif %}
                    {% if result.result == 'Motie ingetrokken' %}
                        {% set labelclass = 'orange' %}
                    {% endif %}
                    {% if result.result == 'Motie ingetrokken en overgenomen' %}
                        {% set labelclass = 'blue' %}
                    {% endif %}
                    {% if result.result == 'Toezegging gedaan' %}
                        {% set labelclass = 'pink' %}
                    {% endif %}

                    <li class="list-group-item">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-md-12">
                                <span class="label label-{{ labelClass|default('default') }}">{{ result.result|raw }}</span>
                                <span class="small" style="margin-left:10px;"><strong>Datum:</strong> {{ result.date|format('d-m-Y') }}</span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Beschrijving</h4>
                                {% if result.description is defined and result.description is not empty %}
                                    {{ result.description|raw }}
                                {% else %}
                                    <em>Niet beschikbaar.</em>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                <h4>Downloads</h4>
                                {% for doc in result.sources %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="glyphicon glyphicon-download" href="{{ doc.url }}"></a>
                                            {{ doc.note|title }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </li>

                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}" type="application/javascript"></script>
    <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.js') }}" type="application/javascript"></script>
{% endblock %}